@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
	background: linear-gradient(90deg, #00009c 0%, #000 100%);
	font-family: Michroma, sans-serif;
}

p {
	color: aquamarine;
}

.navbar-toggler {
	background-color: rgb(23, 23, 23);
}

.nav-link {
	color: aquamarine;
}

.navbar-nav .nav-link.active {
	color: aqua;
}

.navbar-brand img {
	width: 40px;
}

.sidebar {
	background: linear-gradient(270deg, #00009c 0%, #000 100%);
	color: aquamarine;
}

.card {
	background: linear-gradient(270deg, #00009c 0%, #000 100%);
}

a {
	text-decoration: none;
	color: aquamarine;
}

.slide-text,
.footer-text {
	color: aquamarine;
	margin: auto;
}

footer,
.btn-outline-primary {
	background: linear-gradient(270deg, #00009c 0%, #000 100%);
}

.call-anim {
	animation: callAnimation 2s cubic-bezier(0.11, 0, 0.5, 0) 0s infinite normal forwards;
}

@keyframes callAnimation {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media(max-width: 755px) {
	.carousel-indicators {
		display: none;
	}
}